.App {
  .sidebar {
    width: 16%;
    height: 100vh;
    background-color: azure;
    position: fixed;
  }
  .main-contain {
    width: 84;
    margin-left: 16%;
    background-color: black;
    min-height: 100vh;
  }
}
