@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-green: rgb(139, 241, 139);
  --primary-dark: blue;
}
body {
  font-family: "Open Sans" sans-serif;
}
nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-top: 3px solid var(--primary-dark);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 3px solid var (--primary-green);
}
